<h1>Registrar Pagamento</h1>

<form action="/pagamento/add" method="post">
  <label>ID Pedido:</label>
  <input type="text" name="pedido">

  <label>Valor:</label>
  <input type="number" step="0.01" name="valor">

  <label>Forma:</label>
  <select name="forma">
    <option>Dinheiro</option>
    <option>Pix</option>
    <option>Cartão</option>
  </select>

  <button type="submit">Registrar</button>
</form>