<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
</head>
<body>
  <h1>Cadastrar Usuário</h1>
  <form action="/usuario/cadastro" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required><br>
    <label>Email:</label>
    <input type="email" name="email" required><br>
    <label>Senha:</label>
    <input type="password" name="senha" required><br>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>
